<section id="fh5co-about" data-section="about">
    <div class="container">
        <div class="section section-tabs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 section-heading text-center">
                        <h2 class="to-animate">{{ with .Site.Params.about.title }}{{ . | markdownify }}{{ end }}</h2>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 subtext to-animate">
                                <h3>{{ with .Site.Params.about.description }}{{ . | markdownify }}{{ end }}</h3> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{ range .Site.Params.about.InfoTabs }}
                    <div class="col-md-10 col-lg-8 col-xl-6 ml-auto mr-auto">
                        <p class="category">{{ .description }}</p>
                        <!-- Nav tabs -->
                        <div class="card">
                            <ul class="nav nav-tabs justify-content-center" role="tablist">
                                {{ range .Site.Params.about.Tabs }}
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#{{.Typename}}" role="tab"> <i class="now-ui-icons objects_umbrella-13"></i>{{ .Typename | markdownify }}</a>
                                </li>
                            </ul>
                            <div class="card-body">
                                <!-- Tab panes -->
                                <div class="tab-content text-center">
                                    {{ range .Site.Params.about.TabPanels }}
                                    <div class="tab-pane active" id="{{.Typename}}" role="tabpanel">
                                        <table class="table table-bordered table-hover table-condensed table-responsive">
                                            <thead>
                                                <tr>
                                                    <th> {{.TableHeader1}} </th>
                                                    <th> {{.TableHeader2}} </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{ range .Site.Params.about.Tables1 }}
                                                <tr>
                                                    <td> {{.Role | markdownify}} </td>
                                                    <td> {{.Boolen | markdownify}} </td>
                                                </tr>
                                                {{.description}}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="profile" role="tabpanel">
                                        <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                                    </div>
                                    <div class="tab-pane" id="messages" role="tabpanel">
                                        <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                    </div>
                                    <div class="tab-pane" id="settings" role="tabpanel">
                                        <p> "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at." </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-6 ml-auto mr-auto">
                        <p class="category">Tabs with Background on Card</p>
                        <!-- Tabs with Background on Card -->
                        <div class="card">
                            <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home1" role="tab">Home</a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile1" role="tab">Profile</a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages1" role="tab">Messages</a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings1" role="tab">Settings</a> </li>
                            </ul>
                            <div class="card-body">
                                <!-- Tab panes -->
                                <div class="tab-content text-center">
                                    <div class="tab-pane active" id="home1" role="tabpanel">
                                        <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                    </div>
                                    <div class="tab-pane" id="profile1" role="tabpanel">
                                        <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                                    </div>
                                    <div class="tab-pane" id="messages1" role="tabpanel">
                                        <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                    </div>
                                    <div class="tab-pane" id="settings1" role="tabpanel">
                                        <p> "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at." </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Tabs on plain Card -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>